header {
    width: 300px;
    height: 200px;
    background-color: green;
}

section {
    width: 300px;
    height: 200px;
    background-color: red;
}

.about-me {
    width: 300px;
    height: 100px;
    background-color: blue;
}

.circle {
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

body {
    background-color: lightcoral;

}